<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>-->
  <system.serviceModel>
   
    <services>
      <service name="wcf_class.hello_wcf_service" behaviorConfiguration="mexBehaviour">
        <!--<endpoint address="hello_wcf_service" binding="basicHttpBinding"  contract="wcf_class.Ihello_wcf_service">
        </endpoint>-->
        <endpoint address="hello_wcf_service" binding="netTcpBinding" contract="wcf_class.Ihello_wcf_service"></endpoint>
        
        <!--this endpoint is used by the client to get the wsdl document-->
        <endpoint address="metadata" binding="mexTcpBinding"  contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <!--<add baseAddress="http://localhost:8080/"/>-->
            <add baseAddress="net.tcp://localhost:8090/"/>
          </baseAddresses>
        </host>
      </service>     
    </services>
    
    <behaviors>  
      <!--behaviour is to allow the service to exchange meta data-->
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  
  </system.serviceModel>
</configuration>